$colorPrimario: #FF0000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}



/*LAYOUT HEADER : START*/
#main-header {
    background-color: $colorPrimario;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color : white;

    nav {
        a {
            color: white;
            text-decoration: none;
            margin-left: 1rem;
        }
    }
}
/*LAYOUT HEADER : END*/



main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    background-color: $colorPrimario;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8em;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;

    article {
        background-color: #FFF;
        padding: 1rem;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: auto;
        }

        h2 {
            margin-top: 1rem;
        }

        p {
            margin-top: 1rem;
        }

        button {
            margin-top: 1rem;
            background-color: $colorPrimario;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;

            a {
                color: white;
                text-decoration: none;
            }

            &:hover {
                background-color: 	#4169E1;
                color: $colorPrimario;
                
            }   
        }
    }
}
